<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymos.mapper.ReviewMapper">

    <resultMap id="BaseResultMap" type="Review">
        <id column="id" property="id"/>
        <result column="soureId" property="soureId"/>
        <result column="pro_ch_name" property="pro_ch_name"/>
        <result column="pro_en_name" property="pro_en_name"/>
        <result column="cus_ch_name" property="cus_ch_name"/>
        <result column="cus_en_name" property="cus_en_name"/>
        <result column="cus_price" property="cus_price"/>
        <result column="cus_weight" property="cus_weight"/>
        <result column="pro_list" property="pro_list"/>
        <result column="dateTime" property="dateTime"/>
        <result column="pro_url" property="pro_url"/>
        <result column="pro_purchase_price" property="pro_purchase_price"/>
        <result column="weight" property="weight"/>
        <result column="presale_price" property="presale_price"/>
        <result column="url" property="url"/>
        <result column="url2" property="url2"/>
        <result column="url3" property="url3"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="spu" property="spu"/>
        <result column="freight" property="freight"/>
        <result column="creator" property="creator"/>
    </resultMap>

    <sql id="Base_Column_List">
    id,soureId,spu,pro_ch_name,pro_en_name,cus_ch_name,cus_en_name,cus_price,cus_weight,pro_list,pro_url,pro_purchase_price,weight,url,url2,url3,presale_price,status,remark,dateTime,freight,creator
  </sql>


    <select id="select" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>  from t_pro
        <where>
            <if test="query.pro_ch_name!=null and query.pro_ch_name!=''">
                and  pro_ch_name=#{query.pro_ch_name}
            </if>
            <if test="query.spu!=null and query.spu!=''">
                and  spu=#{query.spu}
            </if>
            <if test="query.creator!=null and query.creator!=''">
                and  creator=#{query.creator}
            </if>
            <if test="query.status !=null and query.status !=''">
                and status=#{query.status}
            </if>
             <if test="query.pro_en_name!=null and query.pro_en_name!=''">
                and  pro_en_name=#{query.pro_en_name}
            </if>
            <if test="query.dateTime!=null and query.dateTime!=''">
                and  dateTime>=#{query.dateTime}
            </if>
            <if test="query.endTime!=null and query.endTime!=''">
                <![CDATA[and dateTime<=#{query.endTime}]]>
            </if>
        </where>
        order by dateTime DESC
        limit #{start},#{size}
    </select>

    <select id="count" parameterType="Paginator" resultType="int">
        select count(1) from t_pro
        <where>
            <if test="query.pro_ch_name!=null and query.pro_ch_name!=''">
                and  pro_ch_name=#{query.pro_ch_name}
            </if>
            <if test="query.pro_en_name!=null and query.pro_en_name!=''">
                and  pro_en_name=#{query.pro_en_name}
            </if>
             <if test="query.creator!=null and query.creator!=''">
                and  creator=#{query.creator}
            </if>
            <if test="query.status !=null and query.status !=''">
                and status=#{query.status}
            </if>
            <if test="query.spu!=null and query.spu!=''">
                and  spu=#{query.spu}
            </if>
            <if test="query.dateTime!=null and query.dateTime!=''">
                and  dateTime>=#{query.dateTime}
            </if>
            <if test="query.endTime!=null and query.endTime!=''">
                <![CDATA[and dateTime<=#{query.endTime}]]>
            </if>
        </where>
    </select>

    <select id="queryExcelData" parameterType="ReviewReport"  resultType="ReviewReport">
        select  <include refid="Base_Column_List"/>  from t_pro
        <where>
            <if test="pro_ch_name!=null and pro_ch_name!=''">
                and  pro_ch_name=#{pro_ch_name}
            </if>
            <if test="spu!=null and spu!=''">
                and  spu=#{query.spu}
            </if>
            <if test="pro_en_name!=null and pro_en_name!=''">
                and  pro_en_name=#{pro_en_name}
            </if>
            <if test="creator!=null and creator!=''">
                and  creator=#{creator}
            </if>
            <if test="dateTime!=null and dateTime!=''">
                and  dateTime>=#{dateTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                <![CDATA[and dateTime<=#{endTime}]]>
            </if>
            <if test="status !=null and status !=''">
                and status=#{status}
            </if>
        </where>
    </select>

    <insert id="create" parameterType="Review">
	 insert into t_pro (soureId,spu,pro_ch_name,pro_en_name,cus_ch_name,cus_en_name,cus_price,cus_weight,pro_list,pro_url,pro_purchase_price,weight,url,url2,url3,presale_price,dateTime,remark,status,freight,creator)
	 values (#{soureId},#{spu},#{pro_ch_name},#{pro_en_name},#{cus_ch_name},#{cus_en_name},#{cus_price},#{cus_weight},#{pro_list},#{pro_url},#{pro_purchase_price},#{weight},#{url},#{url2},
	 #{url3},#{presale_price},#{dateTime},#{remark},#{status},#{freight},#{creator})
  </insert>

    <select id="selectById" parameterType="Paginator"  resultType="Review">
        select  <include refid="Base_Column_List" />  from t_pro where id=#{id}
    </select>

    <update id="update" parameterType="Review">
        update t_pro
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="soureId != null and soureId!=''">
                soureId=#{soureId},
            </if>
            <if test="pro_ch_name != null and pro_ch_name!=''">
                pro_ch_name=#{pro_ch_name},
            </if>
            <if test="pro_en_name != null and pro_en_name!=''">
                pro_en_name=#{pro_en_name},
            </if>
            <if test="cus_ch_name != null and cus_ch_name!=''">
                cus_ch_name=#{cus_ch_name},
            </if>
            <if test="cus_en_name != null and cus_en_name!=''">
                cus_en_name=#{cus_en_name},
            </if>
            <if test="cus_price != null and cus_price!=''">
                cus_price=#{cus_price},
            </if>
            <if test="cus_weight != null and cus_weight!=''">
                cus_weight=#{cus_weight},
            </if>
            <if test="pro_list != null and pro_list!=''">
                pro_list=#{pro_list},
            </if>
            <if test="pro_url != null and pro_url!=''">
                pro_url=#{pro_url},
            </if>
            <if test="pro_purchase_price != null and pro_purchase_price!=''">
                pro_purchase_price=#{pro_purchase_price},
            </if>
            <if test="weight != null and weight!=''">
                weight=#{weight},
            </if>
            <if test="url != null and url!=''">
                url=#{url},
            </if>
            <if test="url2 != null and url2!=''">
                url2=#{url2},
            </if>
            <if test="url3 != null and url3!=''">
                url3=#{url3},
            </if>
            <if test="presale_price != null and presale_price!=''">
                presale_price=#{presale_price},
            </if>
            <if test="dateTime !=null and dateTime !=''">
                dateTime=#{dateTime},
            </if>
            <if test="remark !=null and remark !=''">
                remark=#{remark},
            </if>
            <if test="soureId !=null and soureId !=''">
                soureId=#{soureId},
            </if>
            <if test="status !=null and status !=''">
                status=#{status},
            </if>
            <if test="freight !=null and freight !=''">
                freight=#{freight},
            </if>
             <if test="creator !=null and creator !=''">
                 creator=#{creator},
            </if>
        </trim>
    </update>


    <select id="queryMaxId" resultType="int">
        SELECT MAX(id)+1 from t_pro
     </select>

</mapper>